<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>,</p> this is a simple REST API illuminate the security method with JWT. <br/>
    To getting start, go to the README.md file...
  </body>
</html>
